---

---

<footer>
    <small>Copyright &copy; <span id="copyright"></span> | All rights reserved</small>
</footer>

<script>
    const copy = document.querySelector("#copyright");
    if (!copy) {
        throw new ReferenceError("Copyright section not found.");
    }
    copy.textContent = new Date().getFullYear().toString();
</script>