---
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Nav from "../components/Nav.astro";


interface Props {
    title?: string;
    description?: string;
}

const { 
    title = "Astro Blog - Milos Savic",
    description = "Created with Astro framework"
    } = Astro.props as Props;
---

<html lang="en">
    <MainHead title={title} description={description}/>
	<body>
        <Nav />
        <main>
            <slot />
        </main>
        <Footer />
	</body>
</html>